<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-themed-item-page-title-field [item]="object" class="mr-auto">
  </ds-themed-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>
    <ds-themed-item-page-file-section [item]="object" [isBlank]="true"></ds-themed-item-page-file-section>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-themed-metadata-representation-list>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>

    <!-- <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.title')">
      <span class="text-secondary h6">{{'untypeitem.metadata.fileNumber' | translate}} : </span>
      <ng-container *ngFor="let val of object.allMetadataValues('dc.title'); let last = last;">
        <span>{{val}}</span>
        <span *ngIf="!last"> | </span>
      </ng-container>
    </div> -->

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.bastaNumber')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.bastaNumber' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.bastaNumber'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.goswaraNumber')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.goswaraNumber' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.goswaraNumber'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.fir.number')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.firNumber' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.fir.number'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.fir.year')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.firYear' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.fir.year'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.location')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.location' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.location'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.policeStation.name')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.policeStationName' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.policeStation.name'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.file.receivedBy')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.fileReceivedBy' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.file.receivedBy'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.file.receivedDate')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.fileReceivedDate' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.file.receivedDate'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.file.name')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.fileName' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.file.name'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.scan.pageCount')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.scanPageCount' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.scan.pageCount'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>
    
    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.barcode')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.barcode' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.barcode'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.scan.by')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.scannedBy' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.scan.by'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>

    <div class="col-lg-12 mb-3 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.scan.dateTime')">
      <span class="custom-metadata-label">{{'untypeitem.metadata.scanDateTime' | translate}}</span>
      <div><ng-container *ngFor="let val of object.allMetadataValues('dc.scan.dateTime'); let last = last;">
        <span>{{val}}</span><span *ngIf="!last"> | </span>
      </ng-container></div>
    </div>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
